body {
    background-color: darkgrey;
    
}

h1 {
    text-align: center; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}

input {
    width: 50px;
    height: 50px;
    text-align: center;
    align-items: center;
    border: 1px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;       
}

tr,td:nth-child(3) { 
    border-right: 7px solid black;

}

tr,td:nth-child(6) { 
    border-right: 7px solid black;

}

td :nth-child(3n){
    border-right: 7px solid black;
}



tr:nth-child(3n) td {
    border-bottom: 7px solid black;
}

tr:nth-child(9) td {
    border-bottom: none;
}

div {
    border: 10px solid black;
    width: fit-content;
    position: relative;
    left: 670px;
}

th, td {
    padding: 1px;    
}

button {
    position: relative;
    left: 730px;
    top: 50px; 
    border-radius: 15px;
    width: 100px;
    padding: 15px 32px;   
    font-size: 16px;
    text-align: center;
    display: inline-block;
    margin-left: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    outline: none;
}